@import "../../app.scss";

.c {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .c-bg {
    width: 20px;
    height: 50%;
    background: -webkit-linear-gradient(rgb(93, 38, 183), rgb(57, 117, 219));
  }

  .c-wrapper {
    padding: 50px;
    display: flex;
    @include mobile {
      flex-direction: column;
      padding: 0px 50px;
    }

    .c-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .c-title {
        font-size: 60px;
        width: 80%;
        @include mobile {
          font-size: 30px;
        }
      }

      .c-info-item {
        display: flex;
        align-items: center;
        margin: 50px 0px;
        font-weight: 300;
        width: 70%;
        @include mobile {
          margin: 20px 0px;
          width: 100%;
        }

        .c-icon {
          width: 30px;
          height: 30px;
          margin-right: 20px;
        }
      }
    }
    .c-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .c-desc {
        font-weight: 200;
        font-size: 30px;
        @include mobile {
          display: none;
        }
      }

      form {
        margin-top: 20px;
        @include mobile {
          margin-top: 0px;
          display: flex;
          flex-wrap: wrap;
        }
      }

      input {
        width: 50%;
        height: 50px;
        border: none;
        border-bottom: 1px solid black;
        margin: 10px 0px;
        font-size: 14px;
        padding-left: 10px;
        @include mobile {
          width: 35%;
          height: 40px;
          margin: 10px;
          margin-left: 0;
        }
      }

      textarea {
        width: 100%;
        margin: 10px 0px;
        font-size: 14px;
        padding-left: 10px;
        @include mobile {
        }
      }

      button {
        padding: 10px 25px;
        background-image: linear-gradient(rgb(93, 38, 183), rgb(57, 117, 219));
        color: white;
        font-size: 15px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        &:hover {
          scale: 1.2;
        }

        @include mobile {
          margin-top: 10px;
        }
      }
    }
  }
}
