// @import "../../app.scss";
@import "../../breakpoints/breakpoints.scss";

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 15%;
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 40px;
  }

  .coloredText {
    background: -webkit-linear-gradient(rgb(93, 38, 183), rgb(57, 117, 219));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .resumeArrow {
    display: flex;
    position: absolute;
    top: 110px;
    right: 40px;
    flex-direction: column;
    align-items: center;
    width: 250px;
    img {
      width: 30%;
      rotate: 90deg;
      left: 70px;
    }
    p {
      position: absolute;
      right: 110px;
      top: 20px;
    }
  }

  .miniNavbar {
    width: 60%;
    align-items: center;
    display: flex;
    gap: 30px;
    margin: 30px 0 50px 0;
    text-decoration: none;

    a {
      text-decoration: none;
    }
    span {
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      transition: 0.25s ease;
      color: black;
    }

    &:hover span {
      color: #575757;
    }
    &:hover span:hover {
      color: #0055ff;
      box-shadow: 0 2px 0 0 currentColor;
    }

    .icon {
      font-size: 10px;
    }
  }

  .buttons {
    button {
      padding: 10px 25px;
      background-image: linear-gradient(rgb(56, 56, 131), #0055ff);
      font-weight: 500;
      cursor: pointer;
      font-size: 20px;
      color: white;
      border-radius: 5px;
      box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.37);
      transition: 0.25s ease;
      a {
        text-decoration: none;
        padding: 20px 50px;
        color: white;
      }
      &:hover {
        scale: 1.2;
      }
    }
  }

  @include media("<=phone") {
    margin: 0 7%;

    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .resumeArrow {
      right: 10px;
    }

    .miniNavbar {
      padding: 0;

      height: auto;

      span {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        padding: 10px;
        width: 80px;
        margin-right: 0;
        margin-bottom: 10px;
        height: 10%;
      }
    }
  }
  @include media(">=phone", "<=425px") {
    margin: 0 7%;
    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 30px;
    }

    .miniNavbar {
      span {
        padding: 5px 10px;
        margin-right: 20px;
      }
    }
  }
  @include media(">=425px", "<=tablet") {
    margin: 0 7%;
    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 30px;
    }

    .miniNavbar {
      span {
        padding: 5px 10px;
        margin-right: 20px;
      }
    }
  }
}

//   @include tablet {
//     margin: 0 7%;
//     h1 {
//       font-size: 55px;
//     }
//     h2 {
//       font-size: 30px;
//     }

//     .miniNavbar {
//       span {
//         padding: 5px 10px;
//         margin-right: 20px;
//       }
//     }
//   }
//   @include laptop {
//     margin: 0 7%;
//   }
// }
